<h1>Recent activities</h1>
  <ul>
    <% @activities.each do |activity| %>
    <li>
      The <%= activity.tracked_resource_type %> '<%= activity.header %>' with id <%= activity.tracked_resource_id %> was <%= activity.activity_type %> <%= time_ago_in_words(activity.created_at) %> ago<% if activity.creator_id.present? %> by <%= activity.creator_id %><% end %>.
      <pre style="white-space:pre-wrap;"><%= activity.inspect %></pre>
    </li>
    <% end %>
  </ul>
